@{
    ViewBag.Title = "Index";
}

@section Head {
    <script type="text/javascript">
        alert("Hola mundo desde cliente, en la region...");
    </script>
}

<h2>Hola mundo desde cliente</h2>

<h2>@ViewBag.Saludo</h2>
